# ======================
# PLEX
# ======================

PLEX_URL=http://192.168.1.100:32400
PLEX_DOWNLOAD_URL=http://192.168.1.100:32400
PLEX_TOKEN=your_plex_token

# ======================
# POSTER PROVIDER
# ======================

POSTER_PROVIDER=local

# local:

POSTER_PUBLIC_URL=https://assets.example.com/cache/posters

# ======================
# CLOUDINARY
# ======================

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=plex-posters

# ======================
# IMAGE SETTINGS
# ======================

POSTER_WIDTH=600
POSTER_HEIGHT=900
POSTER_QUALITY=80
